{% extends "layout.twig" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <img src="img/logo_fb.png" alt="facebook logo">
                    <div class="count" data-number="{{ fbPageLikes }}"></div>
                    <div class="sub-text">
                        Likes
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h2>Instagram</h2>

                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <h2>Twitter</h2>

                </div>
            </div>
        </div>

    </div>


{% endblock %}