{% extends "layout.twig" %}

{% block content %}
    <div id="loader">
        <img src="{{ base_url() }}/img/loader.gif" alt="Loader">
    </div>
{% endblock %}

{% block customJS %}
    <script type="text/javascript">
        $(document).ready(function(){
            window.location.href = "./dashboard";
        });
    </script>
{% endblock %}