{% extends "layout.twig" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <img src="img/logo_fb.png" alt="Facebook logo">
                    <div class="count" data-number="{{ fbPageLikes }}"></div>
                    <div class="sub-text">
                        Likes
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="img/logo_instagram.png" alt="Instagram logo">
                    <div class="count" data-number="{{ instagramPageSubscribers }}"></div>
                    <div class="sub-text">
                        Subscribers
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="img/logo_twitter.png" alt="Twitter logo">
                    <div class="count" data-number="{{ twitterPageFollowers }}"></div>
                    <div class="sub-text">
                        Followers
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}