body{
    margin: 0px;
    padding: 0px 0px 50px 0px;
    background-color: #F1F1F1;
}

h1{
    text-align: center;
    margin: 30px 0px 60px 0px;
}

a, a:hover, a:visited, a:active, a:focus{
    color: #bc1212;
    text-decoration: none;
}
.border-dotted-left{
    border-left: 2px dotted #E5E5E5;
}

div#loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #FFF;
    z-index: 3;
    text-align: center;
}
div#loader img{
    margin-top: 150px;
}

#header {
    width:100%;
    text-align: center;
}
#header img{
    margin: 60px 0px 40px 0px;
}
#header p{
    margin-bottom: 40px;
    font-size: 22px;
}
#header p span.count{
    font-weight: bold;
    font-size: 26px;
}


.box {
    margin-bottom: 20px;
    padding:15px;
    background-color: #F8F8F8;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}
.box .left-box{
    text-align: center;
}
.box .right-box h3{
    margin: 0px 0px 20px 0px;
    padding: 0px;
    text-align: center;
}
.box img.media-logo{
    margin: 30px 0px 10px 0px;
    padding:0px;
}
.box .count{
    font-size: 26px;
    font-weight: bold;
}

.posts span.post-date{
    color: #aaa;
}


.medias .media{
    text-align: center;
    padding-bottom: 15px;
}
.medias .media img{
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}




/* MEDIUM-DEVICE */
@media (max-width: 992px) {
    .border-dotted-left{
        border: none;
    }
}
/* SMALL-DEVICE */
@media (max-width: 768px) {
    #header img{
       width: 100%;
    }
}